#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
    configure variables affected by environment.
"""

import os
from etc import config


class PAGE_LIMIT(object):
    NORMAL = 20

class DAILY_LOG(object):
    CLICK_LOG_PATH =  os.path.join(config.project_home, "data/click")
    POINT_LOG_PATH = ""

class FILE_LOCK(object):
    DEFAULT_PATH = os.path.join(config.project_home, "locks")

class SIGN(object):
    KEY = "xxx"
    DATA_RID = "xxx"

class REPORT(object):
    WIDGET_CONFIG = {
        "1": {"name": "营销规模", "widget": [1]},
        "2": {"name": "新增留存", "widget": [2]},
        "3": {"name": "新增LTV", "widget": [3]},
        "4": {"name": "90天充值", "widget": [4]},
        "5": {"name": "付费率", "widget": [5]},
        "6": {"name": "新增质量", "widget": [6,7]},
        "7": {"name": "未限制匹配(内部)", "widget": [8]},
    }

    DIM_TYPES = {
        "match_type": 1,
        "media_id": 4,
        "channel_id": 5,
        "project_id": 6,
    }

class AD_CODE(object):
    DOMAIN = "139.196.174.81"
