<!DOCTYPE html>
<html>

<head>
                    
<script type="text/javascript">
  var contextRootPath = "";
</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/res/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/res/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/res/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/res/bootstrap/plugin/datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="/res/bootstrap/plugin/select/css/bootstrap-select.css">
<link rel="stylesheet" href="/res/css/font-awesome_fix_width.css">
<link rel="stylesheet" type="text/css" href="/res/ligerUI/skins/Aqua/css/ligerui-all.css"/>
<link rel="stylesheet" type="text/css" href="/res/ligerUI/skins/Aqua/css/ligerui-tree.css"> 
<link rel="stylesheet" href="/res/css/eadmaster.css">

<script src="/res/js/jquery.js"></script>
<script src="/res/js/jquery-ui.js"></script>
<script src="/res/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="/res/bootstrap/js/html5shiv.js"></script>
<script src="/res/bootstrap/js/respond.min.js"></script>
<![endif]-->
<script src="/res/jquery-validate/jquery.validate.js"></script>
<script src="/res/jquery-validate/messages_zh.js"></script>
<script src="/res/dataTables/js/jquery.dataTables.js"></script>
<script src="/res/bootstrap/plugin/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="/res/bootstrap/plugin/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/res/bootstrap/plugin/select/js/bootstrap-select.js"></script>
<script type="text/javascript" src="/res/ligerUI/js/core/base.js"></script>
<script type="text/javascript" src="/res/ligerUI/js/plugins/ligerTree.js"></script>
<script src="/res/highcharts/highcharts.js"></script>
{% block external_head %}
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>
