
	

<!DOCTYPE html>
<html>
	<head>
		<title>登录</title>
		

<script type="text/javascript">
  var contextRootPath = "";
</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/res/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/res/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/res/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/res/bootstrap/plugin/datetimepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="/res/bootstrap/plugin/select/css/bootstrap-select.css">
<link rel="stylesheet" href="/res/css/font-awesome_fix_width.css">
<link rel="stylesheet" type="text/css" href="/res/ligerUI/skins/Aqua/css/ligerui-all.css"/>
<link rel="stylesheet" type="text/css" href="/res/ligerUI/skins/Aqua/css/ligerui-tree.css"> 
<link rel="stylesheet" href="/res/css/eadmaster.css">

<script src="/res/js/jquery.js"></script>
<script src="/res/js/jquery-ui.js"></script>
<script src="/res/bootstrap/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="/res/bootstrap/js/html5shiv.js"></script>
<script src="/res/bootstrap/js/respond.min.js"></script>
<![endif]-->
<script src="/res/jquery-validate/jquery.validate.js"></script>
<script src="/res/jquery-validate/messages_zh.js"></script>
<script src="/res/dataTables/js/jquery.dataTables.js"></script>
<script src="/res/bootstrap/plugin/datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="/res/bootstrap/plugin/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/res/bootstrap/plugin/select/js/bootstrap-select.js"></script>
<script type="text/javascript" src="/res/ligerUI/js/core/base.js"></script>
<script type="text/javascript" src="/res/ligerUI/js/plugins/ligerTree.js"></script>
<script src="/res/highcharts/highcharts.js"></script>
</head>

	<body>
		
		<br>				
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				<img src="/res/image/logo.jpg" style="height: 50px;width: 120px">
			</div>			
		</div>			
		
		<hr>
		<br>
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-12">
						<h3>ADs Platform</h3>
					</div>
				</div>
				<br>
				<br>
				<br>
				<div class="row">
					<div class="col-md-2">
						<img src="/res/image/login/stats.png" style="width: 128px;height: 128px" alt="..." class="img-rounded">
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<img src="/res/image/login/pie.png" style="width: 128px;height: 128px" alt="..." class="img-rounded">
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<img src="/res/image/login/bars.png" style="width: 128px;height: 128px" alt="..." class="img-rounded">
					</div>
					<div class="col-md-1"></div>					
				</div>				
			</div>
			<div class="col-md-1">
			</div>			
			<div class="col-md-4 well">		
				<div class="row">		
					<form id="loginForm" role="form" class="form-horizontal" action="/app/home/login" method="post">					
						 <div class="form-group">
						 	<label class="col-md-3 control-label" for="username">
						 		<i class="fa fa-user fa-2x" title="用户名"></i>
						 	</label>
						 	<div class="col-md-7">						 
								<input id="username" name="username" placeholder="账号" class="form-control" type="text" value=""/>
								<p class="text-danger"></p>
							</div>
						</div>	
						 <div class="form-group">
						 	<label class="col-md-3 control-label" for="password">
						 		<i class="fa fa-key fa-2x" title="密码"></i>
						 	</label>
						 	<div class="col-md-7">						 	
								<input id="password" name="password" placeholder="密码" class="form-control" type="password" value=""/>
								<p class="text-danger"></p>
							</div>
						</div>
								
						 <div class="form-group">
						 	<div class="col-md-offset-3 col-md-9">
						 		<input class="btn btn-primary" type="submit" value="登录"/>		
						 	</div>					
						</div>
					</form>
				</div>
			</div>			
		</div>	
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		
		<hr>	
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
					Copyright © 2007-2016, All Rights Reserved					
			</div>
			<div class="col-md-4">				
				<!--[if lt IE 9]>					
					为了更好的用户体验，建议使用Chrome,Firefox,IE9以上浏览器					
				<![endif]-->
			</div>
			<div class="col-md-2 text-right">
			</div>
		</div>
    <script src="/res/js/home/home.js?cc"></script>
	</body>
</html>
